.email-composer {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.input-field, .textarea-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.input-field label, .textarea-field label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.input-field input, .textarea-field textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  transition: border 0.3s ease;
}

.input-field input:focus, .textarea-field textarea:focus {
  border-color: #0F6CBD;
  outline: none;
}

.textarea-field textarea {
  height: 150px;
  resize: vertical;
}

.contact-select {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.3s ease;
}

.contact-select:focus {
  border-color: #0F6CBD;
  outline: none;
}

/* Estilo para los botones */
.button, button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover, button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #dcdcdc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #dcdcdc;
}

.email-composer h2 {
  font-size: 24px;
  color: #0F6CBD;
  margin-bottom: 20px;
}

.email-fields {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.email-field {
  flex: 1;
  min-width: 200px;
}

textarea:focus, input:focus, button:focus {
  border-color: #0F6CBD;
  outline: none;
}

.attachment-message {
  margin-top: 10px;
  font-size: 14px;
  color: green;
  font-weight: bold;
}

/* Estilo para los archivos adjuntos */
.attached-files {
  margin-top: 20px;
}

.attachments-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.attachment-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.attachment-name {
  font-size: 14px;
  font-weight: bold;
}

.remove-attachment {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.remove-attachment:hover {
  color: darkred;
}

input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}
.search-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
