<div class="login-container">
  <div class="left-section">
    <h1 class="title">BD.edu.co</h1>
    <h2 class="subtitle">Iniciar sesión</h2>
    <p class="description">
      A continuación ingresa tus datos para acceder al sistema.
    </p>
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required class="input-field" />
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required class="input-field" />
      </div>
      <button type="submit" class="submit-button">Iniciar Sesión</button>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
      <p class="register-message">
       <a routerLink="/registro">¿No tienes usuario?  Regístrate aquí</a>
      </p>
  </div>
  <div class="right-section">
    <img src="/assets/Images/Login.jpg" class="login-image" />
  </div>
</div>